body {
  width: 100%;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url('../images/Pandemic-coverage.jpg');
  background-size: cover;
  background-attachment: fixed;
}

header {
  margin-top: 1%;
  text-align: center;
  height: 130px;
  margin-bottom: 3%;
}

h1 {
  font-family: "creepster";
  color: #D03232;
  font-size: 100px;
  text-shadow: 3px 3px #266e43;

}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.content-wrapper {
  margin: 0;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#play-music img {
  width: 30px;
}

#play-music:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.game-intro {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 3%;
  border-radius: 10px;
  text-align: center;
}

#start-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-image: url('../images/start.png');
  background-size: cover;
  margin-bottom: 20px;

}

#start-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.instructions {
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(112, 151, 251, .8);
  border: 1px solid #D03232
}

.arrow-wrap {
  /*background-color: #42BF74;*/
  width: 130px;
  padding: 5px;
  border-radius: 10px;
  /*border: 1px solid white*/
  ;
}

canvas {
  background-color: #fffff0;
  border: 3px solid black;
}

footer {
  margin: 1%;
  color: white;
  font-family: 'Play', sans-serif;

}

footer a {
  color: #D03232;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }

}