* {
  /* box-sizing: border-box; */
}

body {
  align-items: center;
  background-color: #333;
  color: #000000;
  /* display: flex; */
  flex-direction: column;
  /* height: 100vh; */
  justify-content: center;
  margin: 0;
}

canvas {
  background-color: #fffff0;
  border: 1px solid red;
}

p {
  color: #555;
}

h1 {
  font-family: "creepster";
  color: tomato;
}